# Arquivos para instrução e contexto da IA.
contextoDoProjeto.md

# Terraform.
*.tfstate*
*.tfvars
.terraform/

# Node.
node_modules/

# Secrets.
.env
.env.*
!.env.example
*.pem

# Credenciais da AWS.


# Hist´orico de prompts - temporário
historico_de_prompts.md