# Terraform.
*.tfstate*
*.tfvars
*.tfplan
backend.hcl
.terraform/
*.tfvars.json
.terraformrc
terraform.rc

# Node.
node_modules/

# Secrets.
.env
.env.*
!.env.example
*.pem
*.ppk

# Terraform: sobrescritas locais
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crashes
crash.log
crash.*.log

# Credenciais da AWS.
aws-credentials.sh
