# Arquivos para instrução e contexto da IA.
contextoDoProjeto.md

# Terraform.
*.tfstate*
*.tfvars
*.tfplan
backend.hcl
.terraform/

# Node.
node_modules/

# Secrets.
.env
.env.*
!.env.example
*.pem

# Credenciais da AWS.
aws-credentials.sh

# Histórico de prompts - temporário
historico_de_prompts.md